.form-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
  background-color: transparent;
  min-height: auto;
}

.task-form-card {
  width: 100%;
  max-width: 500px;
  padding: 10px;
  border-radius: 12px;
}

.form-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 10px;
}

.full-width {
  width: 100%;
}

.checkbox {
  margin-top: 5px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding: 16px;
}