html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f7f9fc;
}

app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

router-outlet + * {
  display: block;
  max-width: 1200px;
  margin: 0 auto;
  padding: 32px 24px;
  width: 100%;
  box-sizing: border-box;
}
